In [25]:
import pandas as pd
# This cell imports the pandas library for data manipulation.

In [26]:
df = pd.read_csv('/content/adult_data_mini.csv')
# This cell loads the adult data from a CSV file into a pandas DataFrame.

In [27]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Answer
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,NaN,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,NaN,0.0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,NaN,NaN,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,NaN,NaN,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,NaN,40,Cuba,<=50K

In [28]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       ' Answer'],
      dtype='object')

In [29]:
ID = 2436363
n = 3

In [30]:
Group_by_relationship = df.groupby(['relationship', 'hours-per-week'])
Group_by_relationship.size()
# This cell groups the DataFrame by 'relationship' and 'hours-per-week' and then counts the size of each group.

relationship   hours-per-week
Husband        13                1
               40                4
               45                1
               80                1
Not-in-family  16                1
               40                2
               50                2
Own-child      30                1
Wife           40                2
dtype: int64

In [31]:
def reduce_hours_by_one():
  """Reduces the 'hours-per-week' column by the value of 'n'."""
  df['hours-per-week'] = df['hours-per-week'] - n
  return df

reduce_hours_by_one().head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,Answer
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174.0,NaN,37,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,NaN,0.0,10,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,NaN,NaN,37,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,NaN,NaN,37,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0.0,NaN,37,Cuba,<=50K

In [32]:
Group_by_relationship_reduce_hours = df.groupby(['relationship', 'hours-per-week'])
Group_by_relationship_reduce_hours.size()
# This cell groups the DataFrame by 'relationship' and 'hours-per-week' after reducing the hours and then counts the size of each group.

relationship   hours-per-week
Husband        10                1
               37                4
               42                1
               77                1
Not-in-family  13                1
               37                2
               47                2
Own-child      27                1
Wife           37                2
dtype: int64